<header class="">
  <div class="hamburger-holder">
    <img src="{{ `img/hamburger.png` | absURL }}" alt="" class="hamburger" />
  </div>
  <a href="/"><img src="{{ `img/next-ventures.svg` | absURL }}" alt="" class="logo" /></a>
  <div class="language-switcher textlink">
    <a href="/eng">NL</a>
  </div>
</header>
<div class="bg"><div class="bgImage"></div></div>

<div class="menu">
  <div class="menu-BG"></div>
  <div class="menu-holder">
    <div class="menu-item"><a href="#who">Who</a></div>
    <div class="menu-item"><a href="#companies">Companies</a></div>
    <div class="menu-item"><a href="#interested">Interested?</a></div>
    <div class="menu-item"><a href="#resources">Resources</a></div>
    <div class="menu-item"><a href="#about">About</a></div>
    <div class="menu-item"><a href="#faq">FAQ</a></div>
  </div>
</div>

<!--
<div style="position:absolute;width:100%;height:30px;top:100px;z-index:99999;">
    {{ range site.Menus.main }}
    {{ if .HasChildren }}
      <a class="nav-link text-uppercase text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{ .Name }}
      </a>

      {{ range .Children }}
        <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
    {{ else }}
      <a class="nav-link text-uppercase text-dark" href="{{ .URL | absURL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}


    {{ if site.Params.search }}

  {{ end }}
</div>
-->