<header class="">
  <div class="hamburger-holder">
    <img src="{{ `img/hamburger.png` | absURL }}" alt="" class="hamburger" />
  </div>
  <a href="/"><img src="{{ `img/next-ventures.svg` | absURL }}" alt="" class="logo" /></a>
  <div class="language-switcher textlink">
    <a href="/eng">NL</a>
  </div>
</header>
<div class="bg"><div class="bgImage"></div></div>

<div class="menu">
  <div class="menu-BG"></div>
  <div class="menu-holder">
    <div class="menu-item"><a href="#who">Who</a></div>
    <div class="menu-item"><a href="#companies">Companies</a></div>
    <div class="menu-item"><a href="#interested">Interested?</a></div>
    <div class="menu-item"><a href="#resources">Resources</a></div>
    <div class="menu-item"><a href="#about">About</a></div>
    <div class="menu-item"><a href="#faq">FAQ</a></div>
  </div>
</div>