{{ define "main" }}

<main>
  <a id="who"></a>
		<div class="main-item ">
			<div class="main-text">
        {{ if or (eq .Section "nl")  }}
          {{ range first 1 ( where site.Pages "Type" "home-wie") }}
            {{.Title}}
            {{.Content }}
          {{ end }}	
        {{ else }}	
          {{ range first 1 ( where site.Pages "Type" "home-who") }}
            {{.Title}}
            {{.Content }}
          {{ end }}	
        {{ end }}			
      
      </div>
			<div class="grid items-6">
				<div class="grid-item grid-item-center">
					<img src="{{ `img/founded.svg` | absURL }}" alt="" class="items-6-icon" /><br>
					<span class="title-grey">Founded</span><br>
					2014
					<!--<div class="items-6-title">2014</div>-->
				</div>
				<div class="grid-item grid-item-center">
					<img src="{{ `img/location.svg` | absURL }}" alt="" class="items-6-icon" /><br>
					<span class="title-grey">Location</span><br>
						Antwerp
						<!--<div class="items-6-title">Antwerp</div>-->
				</div>
				<div class="grid-item grid-item-center">
					<img src="{{ `img/fund.svg` | absURL }}" alt="" class="items-6-icon" /><br>
					<span class="title-grey">Fund Size</span><br>
					Private
						<!--<div class="items-6-title">Private</div>-->
				</div>
				
				<div class="grid-item grid-item-center">
						<img src="{{ `img/team.svg` | absURL }}" alt="" class="items-6-icon" /><br>
						<span class="title-grey">Team</span><br>
						4
						<!--<div class="items-6-title">4</div>-->
				</div>
				<div class="grid-item grid-item-center">
						<img src="{{ `img/area.svg` | absURL }}" alt="" class="items-6-icon" /><br>
						<span class="title-grey">Area Focus</span><br>
						Benelux
						<!--<div class="items-6-title"></div>-->
				</div>
				<div class="grid-item grid-item-center">
						<img src="{{ `img/stage.svg` | absURL }}" alt="" class="items-6-icon" /><br>
						<span class="title-grey">Stage Focus</span><br>
						Pre-seed
						<!--<div class="items-6-title">Pre-seed</div>-->
				</div>
			</div>
		</div>
		<div class="hr"></div>

    <a id="companies"></a>
		<div class="main-item main-alternate">
			<div class="main-text">
        {{ if or (eq .Section "nl")  }}
          {{ range first 1 ( where site.Pages "Type" "home-bedrijf") }}
          <h2>{{.Title}}</h2>
            {{.Content }}
          {{ end }}	
        {{ else }}	
          {{ range first 1 ( where site.Pages "Type" "home-companies") }}
            <h2>{{.Title}}</h2>
            {{.Content }}
          {{ end }}	
        {{ end }}

		

			</div>
			<div class="grid items-3 grid-gap50">
				<div class="grid-item ">
					<div class="textlink">
						<img src="{{ `img/api-deck.svg` | absURL }}" alt="" class="items-3-icon" />
						<div class="items-3-title">
							<span class='item-3-info'>RAISING</span> Just did<br>
							<span class='item-3-info'>OPEN POSITIONS</span> <a href="" target="_blank">Yes</a>
						</div>
					</div>
				</div>
				<div class="grid-item ">
					<div class="textlink">
						<img src="{{ `img/boy-and-teddy.svg` | absURL }}" alt="" class="items-3-icon" />
						<div class="items-3-title">
							<span class='item-3-info'>RAISING</span> 50k<br>
							<span class='item-3-info'>OPEN POSITIONS</span> No
						</div>
					</div>
				</div>
				<div class="grid-item ">
					<div class="textlink">
						<img src="{{ `img/complianceboard.svg` | absURL }}" alt="" class="items-3-icon" />
						<div class="items-3-title">
							<span class='item-3-info'>RAISING</span> 250k<br>
							<span class='item-3-info'>OPEN POSITIONS</span> <a href="" target="_blank">Yes</a>
						</div>
					</div>
				</div>
				<div class="grid-item ">
					<div class="textlink">
						<img src="{{ `img/culasarsa.svg` | absURL }}" alt="" class="items-3-icon" />
						<div class="items-3-title">
							<span class='item-3-info'>RAISING</span> 25k<br>
							<span class='item-3-info'>OPEN POSITIONS</span> <a href="" target="_blank">Yes</a>
						</div>
					</div>
				</div>
				<div class="grid-item ">
					<div class="textlink">
						<img src="{{ `img/mast-agency.svg` | absURL }}" alt="" class="items-3-icon" />
						<div class="items-3-title">
							<span class='item-3-info'>RAISING</span> no<br>
							<span class='item-3-info'>OPEN POSITIONS</span> <a href="" target="_blank">Yes</a>
						</div>
					</div>
				</div>
				<div class="grid-item ">
					<div class="textlink">
						<img src="{{ `img/wakinglife.svg` | absURL }}" alt="" class="items-3-icon" />
						<div class="items-3-title">
							<span class='item-3-info'>RAISING</span> No<br>
							<span class='item-3-info'>OPEN POSITIONS</span> No
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hr"></div>

</main>
{{ end }}